<main>
  <h1>Random Pokemon</h1>
  <div style="border: 2px solid gray; padding: 30px; margin:10px;">
    <div class="pokemon">
      <img src="{{randomPokemon.image}}" />
      <div>
        <p>Name: {{randomPokemon.name}}</p>
        <p>Attack: {{randomPokemon.attack}}</p>
      </div>
    </div>
    <a
      href="/random"
      style="border:1px solid #05c46b; 
                                background-color:#05c46b;   
                                padding:12px 20px;
                                cursor:pointer;
                                color:white;
                                font-weight:bold;
                                text-transform:uppercase;
                                display:inline-block;
                                margin-left:10px;
                                "
    >
      Choose another
    </a>
  </div>

</main>