<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conditional template</title>
  </head>
  <body>
    <h1>Demo of conditions</h1>
    <input type="text" placeholder="Enter a number" />
    <a href="/conditions">Submit</a>

    {{#if errorToDisplay}}
      // if errorToDisplay == "sdfsdf"
      <p>ERROR: {{errorToDisplay}}</p>
    {{else}}
      // if errorTODisplaY === ""
      <p>Data submitted</p>
    {{/if}}
  </body>
</html>