<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Voters List</title>

    <style>
      section { border: 1px solid black; padding-left: 20px; }
    </style>
  </head>
  <body>
    <h1>Students Who Can Vote</h1>
    <section>
      {{#each studentsWhoCanVote}}
        <p>{{this.name}}, Age: {{this.age}} </p>
        <p style="color: green;">You can vote! Congrats! </p>
      {{/each}}
      {{#each studentWhoCannotVote}}
        <p>{{this.name}}, Age: {{this.age}} </p>
        <p style="color: red">You cannot vote! sorry! </p>
      {{/each}}
    </section>

  </body>
</html>