    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <h1>Student Who Can Vote</h1>
        {{#each studentsWhoCanVote}}
            <p>Name: {{this.name}}</p>
            <p>Name: {{this.age}}</p>
            <p>You can vote! Congrats! <3</p>
        {{/each}}
    </body>
    </html>