
<main>
    <h1>Welcome to music festival</h1>

</main>
<section>
    <h1>Tickets and prices</h1>
</section>
<section>
    <ul>
        <li>apple</li>
        <li>apple</li>
        <li>apple</li>
        <li>apple</li>
    </ul>

</section>