<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Common Elements</title>
    <style>
      header { background-color: cyan; } footer { background-color: beige; }
    </style>
  </head>
  <body>
    <header>
      <p>This is my menu</p>
    </header>

    // only the middle changes
    {{{ body }}}

    <footer>
      <p>&copy; This is my site</p>
    </footer>
  </body>
</html>