<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        header {
            background-color: cyan;
        }
        footer {
            background-color: black;
            color:white;
        }
    </style>
</head>
<body>
    <header>
        <p>This is my menu</p>
        <a href="/demo">Home</a>
        <a href="/demo2">Demo 2</a>
        <a href="/demo3">Demo 3</a>
    </header>

    //only the middle changes
    {{{ body }}}


    <footer>
        <p>&copy; This is my site</p>
    </footer>
</body>
</html>